.subject-card-header {
    background-color: #fff;
    border-radius: 8px;
    transition: 0.3s ease-in-out;

}
.subject-content{
    margin-bottom: 10px;
}
.img-card{
    border-radius: 15px;
    height: 328px;
    object-fit: cover;
    &.img-Large{
        height: auto;
         width: 100%;
    }
}
.subject-content h4 {
    font-size: 24px;
    line-height: 28px;
    color: #151b1d;
}
.subject-content p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 26px;
    color: #777;
    font-family: 'Lato', sans-serif;
}

.subject-content .dst-btm {
    margin: 16px 0;
    padding: 6px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-top: 1px dotted #c5c5c5;
    border-bottom: 1px dotted #c5c5c5;
    color: #000000;
}
.subject-content  .dst-btm span {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #ff1654;
}

.card_title{
    &:hover{
        text-decoration: none;
    }
}