.sub-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #ff1654;
    margin: 0;
}

.hny-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    color: #151b1d;
    font-family: 'Lato', sans-serif
}