.searchBtn{
    position: absolute;
    height: 100%;
    background-color: #00b8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 0 !important;
    border-top-left-radius: 170px !important;
    border-bottom-left-radius: 170px !important;
    z-index: 9;
svg{
    color: #ffffff;
    font-size: 18px;
}
}
.searchInput{
    padding-left: 50px;
    border-radius: 170px !important;
    &:focus{
        box-shadow: none;
        border: none;
    }
}