/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);
$body-bg: rgba(147, 107, 232, 0.05);
$card-border-width: 0;
$font-family-base: "Open Sans";

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
