.banner-section{
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 1em 0;
    background-position: center;
}
.banner-section h2.title {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #151b1d;
}